body{
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    text-align: center;  
    display: flex;
    background-color: #d6e2f0;
}

.card{
    width: 20%;
    padding: 12px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 0 20px #00000030;
    background-color: #ffffff;
}

.container{
    margin-bottom: 22px;
}

.container img{
    max-width: 100%;
    border-radius: 16px;
}

p{
    width: 90%;
    margin: 16px auto;
}

p:first-child{
    font-weight: 700;
    color: #1f3251;
}

p:last-child{
    font-size: 15px;
    font-weight: 400;
    color: #7b879d;
}